body {
    background-color: aqua;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, a {
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
}

section {
    width: 80%;
    margin: 0 auto;
}

.red {
    color: #f10;
}

.red-border-bottom {
    padding-bottom: 1rem;
    border-bottom: 5px solid #f10;
}

.center {
    text-align: center;
    width: 50%;
    margin: 0 auto;

}

.full-btn {
    background: #f10;
    color: white;
    padding: 1rem 2rem;
}

/* Nav */
nav {
    height: 50px;
    padding: 1rem 2rem;
    border-bottom: 1px solid black;
}

.logo {
    width: 300px;
}

/* Header */
.main-header {
    position: relative;   
    height: 500px; 
    border-bottom: 1px solid black;
}

.main-header .content {
    position: absolute;
    top: 16%;
    left: 10%;
    z-index: 10;
    width: 60%;
}

.main-header h1 {
    padding-bottom: 10px;
}

.main-header img {
    position: absolute;
    top: 7%;
    left: 40%;
    width: 50%;
}